<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h2 class="text-xs text-blue-500 tracking-widest font-medium title-font mb-1">Your Account address</h2>
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900"><span class="showAccount"></span></h1>
    </div>
    <button class="flex mx-auto mt-16 text-white bg-blue-500 border-0 py-2 px-8 focus:outline-none hover:bg-blue-600 rounded text-lg">Link Twitter account</button>
  </div>
</section>



 <div class="card full-width">
              <div class="card-body">
                <h4>
                  Sign Typed Data V3
                </h4>

                <button
                  class="btn btn-primary btn-lg btn-block mb-3"
                  id="signTypedDataV3"
                  disabled
                >
                  Sign
                </button>

                <p class="info-text alert alert-warning">
                  Result:
                  <span id="signTypedDataV3Result"></span>
                </p>

                <button
                  class="btn btn-primary btn-lg btn-block mb-3"
                  id="signTypedDataV3Verify"
                  disabled
                >
                  Verify
                </button>

                <p class="info-text alert alert-warning">
                  Recovery result:
                  <span id="signTypedDataV3VerifyResult"></span>
                </p>
              </div>
            </div>
